### Arithmetic Ops

In [9]:
import numpy as np
import pandas as pd

In [10]:
fruits = pd.Series([10, 6, 3], ['apples', 'orange', 'banana'])

In [11]:
fruits

apples    10
orange     6
banana     3
dtype: int64

In [12]:
fruits + 2

apples    12
orange     8
banana     5
dtype: int64

In [13]:
fruits - 2

apples    8
orange    4
banana    1
dtype: int64

In [14]:
fruits * 2

apples    20
orange    12
banana     6
dtype: int64

In [15]:
fruits / 2

apples    5.0
orange    3.0
banana    1.5
dtype: float64

In [16]:
np.sqrt(fruits)

apples    3.162278
orange    2.449490
banana    1.732051
dtype: float64

In [17]:
np.exp(fruits)

apples    22026.465795
orange      403.428793
banana       20.085537
dtype: float64

In [18]:
np.power(fruits, 2)

apples    100
orange     36
banana      9
dtype: int64

In [20]:
fruits['banana'] + 2

5

In [21]:
fruits

apples    10
orange     6
banana     3
dtype: int64

In [27]:
fruits.iloc[0] - 2

8

In [28]:
fruits[['apples', 'orange']] * 2

apples    20
orange    12
dtype: int64

In [29]:
fruits[['apples', 'orange']] / 2

apples    5.0
orange    3.0
dtype: float64

In [30]:
groceries = pd.Series([30, 6, 'Yes', 'No'], ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [33]:
groceries * 2

eggs          60
apples        12
milk      YesYes
bread       NoNo
dtype: object